allow init tmpfs:lnk_file create_file_perms;
allow init sysfs:lnk_file create_file_perms;
allow init configfs:lnk_file create;
allow init debugfs_clk:file w_file_perms;

# init writes to /sys/devices/system/cpu/cpufreq/interactive/rt_priority
allow init self:capability sys_nice;

allow init { cache_file storage_file }:dir mounton;

allow init configfs:file w_file_perms;

allow init tty_device:chr_file rw_file_perms;

allow init proc:file create_file_perms; # trebl
#allow init sysfs_bluetooth:file rw_file_perms;
allow init sysfs_devices_system_cpu:file rw_file_perms;
allow init sysfs_wlan_fwpath:file r_file_perms;
allow init sysfs:file { setattr };
#allow init sysfs_gpu:file rw_file_perms;
allow init sysfs_type:lnk_file read;

allow init userdata_block_device:blk_file { write };
